<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="OrganizationEntities" connectionString="metadata=res://*/OrgModel.csdl|res://*/OrgModel.ssdl|res://*/OrgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN81VM;initial catalog=Organization;user id=sa;password=GUesst01;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  
</configuration>