@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Welcome to <a href="http://ManzoorTheTrainer.com">MVC Series</a> from <b>Home - Index.</b>
    </div>
    <br/>
    
    <div>
        <form method="POST" >
            <table>
                <tr>
                    <td>Enter Your Name:</td>
                    <td><input id="Name" name="iName" type="text" value="" /></td>
                </tr>
                <tr>
                    <td>Enter Your Age:</td>
                    <td><input id="Age" name="iAge" type="text" value="" /></td>
                </tr>
                <tr></tr>
                <tr>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
